In [25]:
import sqlite3

In [29]:
conn = sqlite3.connect('Resources/survey_options.db')

In [30]:
# Create database (if it doesn't already exist)
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS survey_options (
        option_id INTEGER PRIMARY KEY,
        option_name TEXT,
        option_value INTEGER
    )
''')
conn.commit()

In [ ]:
# # Create options table (if it doesn't already exist)
# cursor = conn.cursor()
# cursor.execute('''
#     CREATE TABLE IF NOT EXISTS survey_options (
#         option_id INTEGER PRIMARY KEY,
#         option_name TEXT,
#         option_value INTEGER
#     )
# ''')
# conn.commit()

# data_to_insert = [
#     (1, 'Always', 1),
#     (2, 'Usually', 1),
#     (3, 'Sometimes', 1),
#     (4, 'Rarely', 0),
#     (5, 'Never', 0)
# ]

# cursor.executemany('INSERT INTO survey_options VALUES (?, ?, ?)', data_to_insert)

# # Commit the changes and close the connection
# conn.commit()

In [ ]:
# Create always options table (if it doesn't already exist)
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS always_options (
        option_id INTEGER PRIMARY KEY,
        option_name TEXT
    )
''')

data_to_insert = [
    (1, 'Always'),
    (2, 'Usually'),
    (3, 'Sometimes'),
    (4, 'Rarely'),
    (5, 'Never')
]

cursor.executemany('INSERT INTO always_options VALUES (?, ?)', data_to_insert)

# Commit the changes and close the connection
conn.commit()

In [ ]:
# Create easy options table (if it doesn't already exist)
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS easy_options (
        option_id INTEGER PRIMARY KEY,
        option_name TEXT
    )
''')

data_to_insert = [
    (1, 'Very easy'),
    (2, 'Quite easy'),
    (3, 'Quite diffucult'),
    (4, 'Very difficult'),
    (5, 'Impossible')
]

cursor.executemany('INSERT INTO easy_options VALUES (?, ?)', data_to_insert)

# Commit the changes and close the connection
conn.commit()

In [ ]:
# Create times options table (if it doesn't already exist)
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS times_options (
        option_id INTEGER PRIMARY KEY,
        option_name TEXT
    )
''')

data_to_insert = [
    (1, 'Many times a day'),
    (2, 'A few times a day'),
    (3, 'A few times a week'),
    (4, 'Less than once a week'),
    (5, 'Never')
]

cursor.executemany('INSERT INTO times_options VALUES (?, ?)', data_to_insert)

# Commit the changes and close the connection
conn.commit()

In [ ]:
# Create typical options table (if it doesn't already exist)
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS typical_options (
        option_id INTEGER PRIMARY KEY,
        option_name TEXT
    )
''')

data_to_insert = [
    (1, 'Very typical'),
    (2, 'Quite typical'),
    (3, 'Slightly unusual'),
    (4, 'Very unusual'),
    (5, "My child doesn't speak")
]

cursor.executemany('INSERT INTO typical_options VALUES (?, ?)', data_to_insert)

# Commit the changes and close the connection
conn.commit()

In [32]:
conn.close()